<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="bootstrap.min.css">
    <script src="jquery-3.4.1.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <title>个人博客</title>
</head>

<body>
    <p>标签式的导航菜单</p>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">SVN</a></li>
        <li><a href="#">iOS</a></li>
        <li><a href="#">VB.Net</a></li>
        <li><a href="#">Java</a></li>
        <li><a href="#">PHP</a></li>
    </ul>
    <%=a%>
    <% console.log(data[0].noteDate) %>
    <% data.forEach(e=>{ %>
    <p><%= e.noteDate%></p>
    <% }) %>
    <p>星之希望</p>
    <script>
        console.log(`<%- JSON.stringify(data)%>`)
    </script>
</body>

</html>